{% block content %}
<section class="s-intro">
    <!--section intro-->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Есть идеи по изданию перспективных книг? <br/> Воплоти эти идеи в жизнь!</h1>
                <p>
                    T8 Publishing — это издательская платформа для  <em>сорсеров</em> — независимых издателей,
                    книжных редакторов и других профессионалов издательского рынка,
                    для ведения собственного издательского бизнеса.
                </p>
            </div>
            <div class="col-md-4">
                <br/>
                <br/>
                {% assign label = "request1"%}
                {% include 'form' %}
            </div>
        </div>
    </div>
</section>
<section class="s-features">
    <!--section features-->
    <h2>Все, что нужно для издательского бизнеса в одном месте</h2>
    <p>
        С помощью программного обеспечения T8 Publishing, доступного через интернет-браузеры,
        вы можете осуществлять полный контроль своих издательских проектов, отслеживать исполнение ваших заказов,
        выдвигать свои идеи на инвесткомитет холдинга T8, заказывать редакционно-издательские услуги
        у профильных специалистов в издательской области, офсетной печати и печати по требованию (POD),
        пользоваться услугами правого отдела, а так же склад-логистикой
    </p>
    <div class="s-features__row">
        <div class="s-features__item"><div><img src="{{ "graphics-t8publishing_idea.svg" | asset_url }}" class="s-features__item__icon" alt=""/></div>Фиксация идеи</div>
        <div class="s-features__item"><div><img src="{{ "graphics-t8publishing_pre-press.svg" | asset_url }}" class="s-features__item__icon" alt=""/></div>Заказ, приемка услуг допечатной подготовки и pre-press</div>
        <div class="s-features__item"><div><img src="{{ "graphics-t8publishing_legal.svg" | asset_url }}" class="s-features__item__icon" alt=""/></div>Поиск правообладателей, заключение договоров</div>
        <div class="s-features__item"><div><img src="{{ "graphics-t8publishing_pod.svg" | asset_url }}" class="s-features__item__icon" alt=""/></div>Печать по требованию и офсетные тиражи по оптимальной цене</div>
        <div class="s-features__item"><div><img src="{{ "graphics-t8publishing_distribution.svg" | asset_url }}" class="s-features__item__icon" alt=""/></div>Распространение книжной продукции в магазинах, продвижение</div>
        <div class="s-features__item"><div><img src="{{ "graphics-t8publishing_logistics.svg" | asset_url }}" class="s-features__item__icon" alt=""/></div>Склад-логистика, хранение книг и доставка покупателям</div>
        <div class="s-features__item"><div><img src="{{ "graphics-t8publishing_investment.svg" | asset_url }}" class="s-features__item__icon" alt=""/></div>Привлечение инвестиций в ваши книжные проекты</div>
        <div class="s-features__item"><div><img src="{{ "graphics-t8publishing_staff.svg" | asset_url }}" class="s-features__item__icon" alt=""/></div>Возможность добавления ваших сотрудников для сопровождения проектов</div>
    </div>
</section>


<section class="s-ideasfirst">
    <!--section ideasfirst -->
    <div class="container">
                <h2>Идеи – первичны</h2>
                <p>Инвестиционно-издательский холдинг позволяет партнерам, сотрудничающим с издательской платформой T8 Publishing пользоваться денежными средствами холдинга.</p>
        <div class="text-center">
            <h3>Схема сотрудничества основана на 3 уровнях.</h3>
        </div>

        <div class="s-ideasfirst__item">
            <div class="col-sm-2 text-center col-sm-offset-2">
                <img src="{{ "graphics-t8publishing_steps_1.svg" | asset_url }}" class="s-ideasfirst__item__icon" alt=""/>
            </div>
            <div class="col-sm-6">
                <p>
                Начальный уровень — позволяет сорсеру пользоваться издательской платформой T8 Publishing,
                инвестировать средства самостоятельно в свои идеи, а так же выдвигать идеи на инвесткоммитет.
            </p>
            </div>
        </div>
        <div class="s-ideasfirst__item">
            <div class="col-sm-2 text-center col-sm-push-6 col-sm-offset-2">
                <img src="{{ "graphics-t8publishing_steps_2.svg" | asset_url }}" class="s-ideasfirst__item__icon" alt=""/>
            </div>
            <div class="col-sm-6 col-sm-pull-2">
                <p>
                    Высокий уровень — позволяет сорсеру пользоваться издательской платформой T8 Publishing,
                    инвестировать средства самостоятельно в свои идеи, а так же выдвигать идеи на инвесткомитет.
                    Так же, сорсеры второго уровня получают фиксированную сумму выплаты, по аналогии с зарпалатой.
                </p>
            </div>
        </div>
        <div class="s-ideasfirst__item">
            <div class="col-sm-2 text-center col-sm-offset-2">
                <img src="{{ "graphics-t8publishing_steps_3.svg" | asset_url }}" class="s-ideasfirst__item__icon" alt=""/>
            </div>
            <div class="col-sm-6">
                <p>
                    Экспертный уровень — выделение годового бюджета сорсеру, в камках которого
                    он может самостоятельно вкладывать деньги в свои проекты
                </p>
            </div>
        </div>

    </div>
</section>
<hr class="feature-divider"/>
<section class="s-independency">
    <!--section independency-->
    <h2>Ваша независимость</h2>
    <p>
        Для того, чтобы пользоваться всеми  возможностями  инвестиционно-издательского холдингаT8 не обязательно быть нашим сотрудником.
        Вы можете подключиться к T8 Publishing и работать в любое удобное для вас время,
        по мере появления новых книжных проектов. Более того, мы платим фиксированную заработную плату серсерам, которые перешли на 2 уровень.
    </p>

    <ul class="t8-feature-list">
        <li>Независимость от издательской структуры</li>
        <li>Возможность дополнительного заработка</li>
        <li>Реализация своих идей</li>
    </ul>


</section>
<section class="s-adaptive">
    <!--section adaptive-->
    <div class="container">
        <h2>В любом месте и на любом экране</h2>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Работать с интернет-приложением T8 Publishing можно в любом месте,
                    с помощью компьютеров, планшетов и мобильных телефонов. Не упустите ни одну идею!
                </p>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class=" col-md-offset-3 col-md-6">
                <img src="{{ 'graphic-t8-adaptive-design.svg' | asset_url}}" width="100%" alt=""/>
            </div>
        </div>
    </div>
</section>
<section class="s-contact" id="register">
    <!--section contact-->
    <h2>Для начала сотрудничества заполните форму</h2>

    <p class="text-muted">
        Заполните форму и наш консультант свяжется с вами в течение 24 часов.
    </p>
    <br/><br/>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
              {% assign label = "request1"%}
              {% include 'form' %}
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('.t8s-lead-form').bootstrapValidator({
            fields: {
                account: {
                    validators: {
                        notEmpty: {
                            message: 'Пожалуйста выберите тип аккаунта'
                        }
                    }
                }
            }


        });
    });
</script>


{% endblock %}